@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}
#header {
    font-size: 80px;
    color: red;
    text-align: center;
}
.content{
    font-size: medium;
    text-align: justify;
}
    .bold{
    font-weight: bold;
}
.img-div{
    
}
img{
    width: 200px;
    height: 200px;

}